* {
  box-sizing: border-box;
}

body {
  font-size: 18px;
  line-height: 1;
}

#h1_id {
  font-size: 26px !important;
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 20px;
  position: fixed;
  transition: background-color .3s, color .3s;
  text-align: left;
  margin: 0px;
  padding-top: 0 !important;
  margin-left: -50px !important;
  margin-top: 55px;
}

#h1_id.scroll-h1 {
  background-color: black;
  color: #fff;
}

h2 {
  font-size: 22px;
}

p {
  text-align: justify;
}

header {
  background-image: url(../img/13img240_1-728x484.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 200px;
}

.id_header {
  padding-bottom: 768px !important;
}

ul span {
  text-decoration: underline;
}

.cont-bl_blue h2 {
  color: #1B5CFF;
}

.cont-bl {
  padding: 0 20px;
}

.comm__bl {
  margin-bottom: 20px;
}

.comm__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightgray;
  padding: 10px 5px;
}

.comm__text {
  padding: 0 5px;
}

.comm__text p {
  margin: 0;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: black;
  color: white;
  font-size: 14px;
}

.pop-up {
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: lightgray;
  color: #333;
  position: fixed;
  height: 0;
  transition: height .3s;
  overflow: hidden;
}

.pop-up.pop-up_show {
  height: auto;
  overflow: inherit;
}

.pop-up a {
  text-decoration: none;
  color: #1B5CFF;
}

.pop-up p {
  width: 90%;
  margin-right: 10px;
}

.pop-up button {
  font-size: 18px;
  width: 70px;
  height: 30px;
  line-height: 30px;
  background-color: #1B5CFF;
  color: white;
  border: none;
  border-radius: 15px;
}

@media screen and (max-width: 520px) {
  .pop-up {
    display: none;
  }
  
  #h1_id {
    margin-top: 0;
    margin-left: 0 !important;
  }
  
  .id_header {
    padding-bottom: 30px !important;
  }
}